@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab")

body{
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

nav{
  background-color: #9A969C;
  color: #000000;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  width: 180px;
  z-index: 1;
}

.logo{
  margin: 20px;
  margin-left: 25px;
}

ul{
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
  padding: 10px;
}

li{
  margin: 15px;
  margin-top: 30px;
}

header{
  background-color: #3E3544;
  color:  #ffffff;
  height: 390px ;
  margin-left: 169px;
  margin-top: -10px;
  width: 100%;
}

h1{ 
  font-family: 'Roboto-Slab', sans-serif;
  font-size: 180%;
  margin-left: 500px;
  margin-top: 70px;
  position: absolute;
}

.static-headline{
  font-weight: 100;
}

.image-header{
  border: 8px solid #9A969C;
  border-radius: 50%;
  margin-left: 100px;
  margin-top: 50px;
  position: absolute;
}

form{
  margin-left: 500px;
  margin-top: 150px;
  position: absolute;
}

.form-name{
  margin-bottom: 3px;
}

#form-input{
  display: block;
  height: 30px;
  margin-bottom: 10px;
  width: 325px;
}

#button-dog-name{
  background-color: #9A969C;
  border: 2px solid;
  color: #3E3544; 
  font-size: 16px;
  font-family: Roboto, serif;
  font-weight: 700;
  height: 50px;
  width: 325px;
}

main{
  margin-left: 240px;
  margin-right: 70px;
}

.column-section{
  border-bottom: 2px solid #9A969C;
  height: 350px;
}

h2{
  margin-left: 60px;
}

.column-image{
  border: 7px solid #9A969C;
  border-radius: 50%;
  margin-left: 10px;
  width: 250px;
}

.column-body-copy{
  font-size: 18px;
  margin-left: 300px;
  margin-right: 50px;
  margin-top: -250px;
  max-width: 500px;
}

.column-button{
  background-color: #3E3544;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  margin-left: 594px;
  position: absolute;
  width: 200px;
}

footer{
  background-color: #3E3544;
  color: #ffffff;
  height: 200px;
  margin-left: 169px;
  padding-top: 30px;
  width: 100%;
}

h3{
  display: inline-block;
  margin-left: 500px;
  position: relative;
  top: -110px;
}

.social-icons{
  display: inline-block;
  margin-left: 27px;
  width: 145px;
}

.image-social{
  height: 50px;
  margin: 7px;
  width: 50px;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width; 600px){}
