body{
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  width: 100%;
}

nav{
  background-color: #75e2e6;
  border-bottom: 2px solid #048eaa;
  color: #ffffff;
  height: 70px;
  margin-top: -70px;
  position: fixed;
  width: 100%;
}

.logo{
  float: left;
  height: 60px;
  margin-top: 6px;
  padding: 10px 10px 10px 10px;	
  width: 60px;
}

li{   
  color: #000000;
  display: inline;
  float: right;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
}

header{
  background-color: #ffffff;
  background-image: url("images/park.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  height: 430px;
  margin-top: 70px;
  padding-bottom: 20px;
  width: 100%;
}

h1{
  color: #ffffff;
  padding-top: 40px;
  text-align: center;
}

.static-headline{
  font-weight: 100;
}

#bold-headline{
  font-weight: 800;
}

.image-header{
  border: 4px solid #048eaa;
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 200px;
}

form{
  margin: auto;
  width: 365px;
}

.form-name{
  color: #ffffff;
  margin: 0px 0px 4px 0px;
}

#form-input{
  height: 33px;
  width: 365px;
}

#button-dog-name{
  background-color: #75e2e6;
  font-size: 16px;
  height: 35px;
  margin: auto;
  margin-top: 10px;
  padding: 0px 0px 5px 5px;
  text-align: center;
  width: 365px;
}
	
main{
  width: 100%;
}

.column-section{
  float: left;
  height: 556px;
  margin: 10px;
  padding: 10px;
  position: center;
  width: 300px;
}

h2{
  text-align: center;
}

.column-image{
  border: 4px solid #048eaa;
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0px auto;
  padding: 0px;
  width: 200px;
}

.column-body-copy{
  margin-left: 20px;
  max-width: 230px;
}

.column-button{
  background-color: #048eaa;
  color: #ffffff;
  margin-left: 20px;
  padding: 10px;
  width: 230px;
}

#button-how{
  margin-top: 15px;
}

#button-facts{
  margin-top: 35px;
}

footer{
  background-color: #048eaa;
  bottom: 0;
  clear: both;
  color: #ffffff;
  height: 160px;
  margin-bottom: -90px;
  text-align: center;
  width: 100%;
}

h3{
  font-weight: lighter;
  margin-bottom: 10px;
  padding: 10px;
}

.image-social{
  color: #ffffff;
  height: 45px;
  margin: 5px;
  width: 45px;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-wdith; 600px)